#menu ol{list-style:none}

#menu ol li{background:lime;padding:10px;width:150px;box-shadow:10px 10px 10px black;border-bottom:3px red ridge;cursor:pointer;float:left;position:relative;left:0px;display:inline-block;}

#menu ol li:hover{background:olive;cursor:pointer;}

#micon{display:none;}
#slide{height:400px;}

#container
{
width:99%;
background:green;
height:auto;
margin:1px;
}


#header{
width:60%;
heigh:auto;
clear:both;
margin:auto;
margin-bottom:110px;
}

#navbar{
width:100%;
height:70px;
margin-top:-40px;
}

#leftbar{
width:10%;
height:400px;
margin:2px;
text-align:justify;
padding:2px;
color:black;
font-size:12px;
margin:1px;
float:left;
}



#article{
width:80%;
margin:2px;
height:400px;
text-align:justify;
padding:1px;
color:black;
font-size:12px;
float:left;
clear:none;
}

#rightbar{
width:7%;
height:400px;
text-align:justify;
padding:2px;
margin:1px;
color:black;
font-size:12px;
float:left;
clear:none;

}

#footer{
width:100%;
height:150px;
color:white;
background:black;
text-align:justify;
padding:1px;
margin:1px;
font-size:12px;
}
